.home-page{
  margin-top: 20px;
  background-color: rgba(236, 236, 236,0.45);
}

.home-page img{
  margin: 10px auto;
}

.home-heading{
  text-align: center;
}
.home-heading{
  text-align: center;
  color: #F13C20;
  font-size: larger;
  text-shadow: 2px 2px 1px #4056A1;
}
.ulist{
  text-align: center;
}

.list {
  display: inline-block;
  padding: 20px;
  list-style-type: none;
  text-align: center;
  box-shadow: 0 0 3px;
  margin: 15px;
  border-radius: 5px;
}

.list h4{
  list-style-type: none;
  text-decoration: none;
}

.img{
  width: 350px;
}

.nav-bar{
  background-color: #4056A1;
  height: 40px;
  padding: 10px;
  text-decoration: none;
  font-size: larger;
  font-weight: 700;
  align-items: center;
  text-align: right;
}

.home, .product, .myCart{
  text-decoration: none;
  padding-bottom: 10px;
  margin: 15px;
  color: #F13C20;
}

.cart{
  margin: 5px 20px 5px 20px;
}

.product-detail{
  margin-left: 50px;
}

.product-detail img{
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 1px;
}

.product-detail h2{
  padding: 10px;
}

.product-details{
  display: flex;
}

.product-details p{
  margin-left: 20px;
  font-weight: 300;
  color: rgb(0,0,0);
}

table th{
  padding: 0px;
}
table tr td{
  text-align: center;
}

table{

  width: 50vw;
  margin: 20px auto;
}
.cart{
  margin-top: -22px;
  /* background-image: linear-gradient(to right, #66FCF1, white) */
}