
.ulist{
  text-align: center;
}
.list {
  display: inline-block;
  padding: 20px;
  list-style-type: none;
  text-align: center;
  box-shadow: 0 0 3px;
  margin: 15px;
  border-radius: 5px;

}

.img{
  width: 250px;
}
